/*-------------------------------------------------------------------------------------
//-- File. . . :  style.css
//-- Bevat . . :  Template voor de  stylesheet voor respec  
//--              Gebaseerd op https://github.com/Geonovum/respec/wiki
//--              Deze file mag worden neergezet in de root-directory van de 
//--              betreffende standaard, maar ook 1 niveau lager in de map "media"
//--              gedefinieerde stijlen overschrijven de default stijlen.  
//-- Door. . . :  Jan van Gelder
//-------------------------------------------------------------------------------------
//-------------------------------------------------------------------------------------
//-- Log . . . :  20181009 - JvG - Initiele versie 
//-----------------------------------------------------------------------------------*/

/*-- Definitie van Image ------------------------------------------------------------*/
img 
{
  max-width: 100%;
  height: auto;
  width: auto;
}

/*-- Definite van het Geonovum Logo bovenaan Respec document ------------------------*/
img#Geonovum
{
  width:132px;
  height: 67px;
}

/*-- Definite van BlockQuotes (uitgelichte tekstblokken) ----------------------------*/
blockquote 
{
  /* margin-left: 20px !important; */
  font-family:  'Esteban', serif !important;
  font-style: italic;
  border-color: transparent !important;
  border-style: none !important;
  background-color: darkgray;
  color: white;
}

/*-- Optioneel een symbool voor de blockquote --------------------------------------*/
blockquote:before 
{
  display: block;
  height: 0;
  /* content: "|"; */   
  margin-left: -0.95em;
  font: italic 400%/1 Esteban, serif;
  color: grey;
}
  /* Style the tables */
  table, th, td {
    background-color: #F2F2F2;
    border-collapse: collapse;}
table {
    border: 1px solid #000000;
    width: 100%;
}
caption {
    font-style: italic;
    text-align: left;
}
th, td {
    border: 1px inset #CCCCCC;
    hyphens: auto;
    padding: 0.25em;
}
th {
    color: #005A9C;
}

.table-small td {
    vertical-align:top;
    padding: 2px;
}
.table-small p {
    font-size:8pt;
    margin:2px;
}

.cell-req td {
    background-color: #fee;
}

/*-- Definite van rode tekst -------------------------------------------------------*/
r
{
  color: red;
}

/*-- Definite van rose tekstblok ---------------------------------------------------*/
div#remark
{
  border-color: darkblue;
  border-style: solid;
  background-color:  rosybrown;
  color: darkblue;
}


